* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {
    font-family: cursive;
}*/

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
 font-family:monospace;
 font-weight: 0;
 font-size: 10px;
/* font-style: italic;*/
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #FBB536;
 opacity:12;
 color: #fff; 
}

.nav-links a {
 color: #fff;
}

/* LOGO */
.logo {
 font-size: 32px;
}

/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}

.menu li:hover {
 background-color: rgb(251 , 61 , 54);
 border-radius: 10px;
 transition: 0.3s ease;
}

.menu li {
 padding: 8px 75px;
}

/* DROPDOWN MENU */
.services {
 position: relative; 
}

.dropdown {
 background-color: #FBB536;
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
}

.dropdown li + li {
 margin-top: 10px;
}

.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
 
}

.dropdown li:hover {
 background-color: rgb(251 , 61 , 54);
}

.services:hover .dropdown {
 display: block;
}
